
<form name="editForm" role="form" novalidate show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySimulationLabel">Create or edit a Product</h4>
    </div>
    
    <div class="modal-body">    
        <div class="form-group" ng-show="vm.product.id">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.product.id" readonly />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.product.name" required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block" ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description" ng-model="vm.product.description" required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block" ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_children">Children</label>
            <select multiple class="form-control" id="field_children" name="children" ng-model="vm.product.children"
                ng-options="product as product.name for product in vm.products track by product.id">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_images">Images</label>
            <div simple-grid="vm.imagesConfig">
        </div>

        <button type="button" class="btn btn-default" ng-click="vm.addImage()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Add Image</span>
        </button>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="button" ng-click="vm.save()"
        ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
