<!doctype html>
<html class="no-js">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Products</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="./bower_components/simple-grid/src/simple-grid.css"/>
        <link rel="stylesheet" href="./css/main.css"/>
    </head>
    <body ng-app="productsApp">
        <div class="container">
            <div class="well" ng-controller="ProductController as vm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="pull-left">Products</span>&nbsp;
                        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="vm.openProductEdition()">Add Product</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><span>ID</span></th>
                                    <th><span>Name</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in vm.thinProducts | orderBy:'id'">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button" class="btn btn-warning btn-sm" ng-click="vm.openProductEdition(product.id)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="vm.deleteProduct(product.id)">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm">Remove</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="./bower_components/jquery/dist/jquery.js"></script>
        <script src="./bower_components/angular/angular.js"></script>
        <script src="./bower_components/angular-aria/angular-aria.js"></script>
        <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="./bower_components/ngstorage/ngStorage.js"></script>
        <script src="./bower_components/angular-resource/angular-resource.js"></script>
        <script src="./bower_components/simple-grid/src/simple-grid.html" type="text/ng-template" id="simple-grid.html"></script>
        <script src="./bower_components/simple-grid/src/simple-grid.js"></script>
        <script src="./app/app.module.js"></script>
        <script src="./app/product.service.js"></script>
        <script src="./app/product.controller.js"></script>
        <script src="./app/product-dialog.controller.js"></script>
    </body>
</html>